#!/usr/bin/env python
PACKAGE = "fgs_image_filter"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("filter_type", str_t, 0, "Specifition of filter type", "gaussian")

exit(gen.generate(PACKAGE, "fgs_image_filter", "FilterType"))
